<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
%matplotlib inline

from konlpy.tag import Okt
from wordcloud import WordCloud
from matplotlib import font_manager, rc
font_path = 'c:/Windows/Fonts/malgun.ttf'

import warnings
warnings.filterwarnings('ignore')

C:\spyder\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)
C:\spyder\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [122]:
vin = pd.read_csv('데이터/블로그크롤링/베트남_빈펄.csv', sep='\t', header=None)
vin.columns = ['content']

chi = pd.read_csv('데이터/블로그크롤링/베트남_치링.csv', sep='\t', header=None)
chi.columns = ['content']

yen = pd.read_csv('데이터/블로그크롤링/베트남_옌중.csv', sep='\t', header=None)
yen.columns = ['content']

ns = pd.read_csv('데이터/블로그크롤링/말레이시아_닐라이스프링스.csv', sep='\t', header=None)
ns.columns = ['content']

la = pd.read_csv('데이터/블로그크롤링/필리핀_레이테.csv', sep='\t', header=None)
la.columns = ['content']

hyun = pd.read_csv('데이터/블로그크롤링/대한민국_현대더링스.csv', sep='\t', header=None)
hyun.columns = ['content']

jae = pd.read_csv('데이터/블로그크롤링/대한민국_제피로스.csv', sep='\t', header=None)
jae.columns = ['content']

spring = pd.read_csv('데이터/블로그크롤링/대한민국_스프링데일.csv', sep='\t', header=None)
spring.columns = ['content']

paci = pd.read_csv('데이터/블로그크롤링/일본_퍼시픽블루.csv', sep='\t', header=None)
paci.columns = ['content']

jg = pd.read_csv('데이터/블로그크롤링/일본_그린랜드.csv', sep='\t', header=None)
jg.columns = ['content']

on = pd.read_csv('데이터/블로그크롤링/대한민국_오너스.csv', sep='\t', header=None)
on.columns = ['content']

nam = pd.read_csv('데이터/블로그크롤링/중국_남산.csv', sep='\t', header=None)
nam.columns = ['content']

cm = pd.read_csv('데이터/블로그크롤링/중국_미션힐스.csv', sep='\t', header=None)
cm.columns = ['content']

ks = pd.read_csv('데이터/블로그크롤링/대한민국_샤인빌.csv', sep='\t', header=None)
ks.columns = ['content']

ko = pd.read_csv('데이터/블로그크롤링/대한민국_용인.csv', sep='\t', header=None)
ko.columns = ['content']

ke = pd.read_csv('데이터/블로그크롤링/대한민국_이븐데일.csv', sep='\t', header=None)
ke.columns = ['content']

kt = pd.read_csv('데이터/블로그크롤링/대한민국_타미우스.csv', sep='\t', header=None)
kt.columns = ['content']

In [135]:
def to_list(doc):
    lst = ' '.join(doc['content'])
    rst = []
    rst.append(lst)
    return rst

In [136]:
vin_lst = to_list(vin)
chi_lst = to_list(chi)
yen_lst = to_list(yen)
ns_lst = to_list(ns)
la_lst = to_list(la)
hyun_lst = to_list(hyun)
jae_lst = to_list(jae)
spring_lst = to_list(spring)
paci_lst = to_list(paci)
jg_lst = to_list(jg)
on_lst = to_list(on)
nam_lst = to_list(nam)
cm_lst = to_list(cm)
ks_lst = to_list(ks)
ko_lst = to_list(ko)
ke_lst = to_list(ke)
kt_lst = to_list(kt)

result = [vin_lst, chi_lst, yen_lst, ns_lst, la_lst, hyun_lst, jae_lst, spring_lst, paci_lst, jg_lst, on_lst, nam_lst,
          cm_lst, ks_lst, ko_lst, ke_lst, kt_lst]

In [140]:
stopwords = ['골프', '회원', '골프장', '베트남', '빈펄', '케이', '블루', '퍼시픽', 
             '오이타', '링스', '레이테', 
             '입회', '평생', '가장', '한국', '일본', '무기명', '스프링', '데일', 
             '정도', '포함', '하우스', '필리핀', 
             '지역', '문의', '골퍼', '가능', '바로', '하노이', '현대', '때문', 
             '세부', '준비', '시간', '치링', '혜택', '설계', '아주', 
             '라이스', '말레이시아', '대한민국', '중국', '프링스', '비용', '오늘', 
             '제주도', '남호', '이안', '하이퐁', '나트랑', '랜드', 
             '해외', '개장', '모두', '국내', '조건', '제공', '세계', '지금', '이용', '사용', '하나', '투어', '다른', '자랑',
             '푸쿠옥', '예약', '할인', '상품', '프로모션', '도착', '모든', '분양', '파파', '우리나라', '가지', '운영', '치앙마이', 
             '라운드', '라운딩', '클럽', '스타', '가입', '위치', '정보', '이제', '치린', '옌중', '가싼쿤탄',
             '양수', '직접', '카드', '정말', '진행', '구성', '회비', '양도', '대해', '시작', '독점', '무료', '현지', '한국인',
             '조금', '특전', '안내', '삼성', '기간', '대부분', '수기', '이상', '남산', '주중', '밸리', '번홀', '경우', 
             '사항', '지사', '관리', '입니다', '있습니다', '있는', '안녕하세요', '가능합니다', '있으며', '있고', '한번', '있어', '평균', 
             '야드', '골프클럽', '태국', '기준', '크라운', '멤버십', '좋습니다', '이사', '계약', '회사', '대한', '항공', '아래', 
             '가격', '또한', '현재','위해', '무제한', '체류', '북부', '건설', '코로나', '보유', '창립', '소요', '클릭', '역시',
             '직원', '모집', '이동', '쿠알라룸푸르', '홀로', '있는데요', '아일랜드', '파인스', '면제', '길이', '상담', '걱정',
             '스프', '방법', '이벤트', '있다', '장점', '관광지미가', '미가', '공략', '있어서', '느낌', '대표', '태안', '주변', 
             '충남', '방향', '스코틀랜드', '충청도', '일정', '특징', '바람', '패키지', '전략', '서울', '객실', '있어요', 
             '태안군', '오른쪽', '이름', '저희', '아닙니다', '작년', '함덕', '로움', '제주', '이전', '초특', '생각', '컨디션', '렌터카', 
             '사이', '골프텔', '마치', '있답니다',  '근처', '구름', '제피로스', '선사', '보통', '여유', '나비', '하늘', '이런', '매매', 
             '계속', '가슴', '여덟', '반면', '보시', '더욱', '미를', '각각', '회수', '서귀포', '사람', '우리', '이용권', '그대로', '부담',
             '없는', '진짜', '기업', '예스', '추가', '마감', '예정', '하루', '오이타', '오이타현', '아침', '상주', '사키',
             '업체', '파스', '좌측', '후반', '출발', '이번', '손님', '다음', '시즌', '야합니다', '유실', '강촌', '보기', '핑크레이디', 
             '남해', '다시', '왼쪽', '우측', '주말', '마무리', '날씨', '배즙', '공간', '집중', '전반', '춘천', '야마하', '포스팅', 
             '같은', '컨설턴트', '적용', '형부', '여왕', '같네요', '후기', '보고', '중간', '먼저', '거봉', '그린랜드', '일본', '골프', 
             '코스', '베르데', '오피', '코스', '브랑카', '입니다', '여행',
             '영업', '방문', '있습니다', '시간', '있는', '여러분', '공식', '홈페이지', '이상', '저희', '안녕하세요', 
             '제공', '무료', '이용', '골프장', '요금', '작업', '회수', '메뉴', '별도', '추가', '문의', '경우', 
             '구매', '소개', '큐슈', '필수', '손님', '그럼', '있어요', '사전예약', '공휴일', '군데', '이번',
             '준비', '오늘', '아래', '변경', '제한', '개장', '기간', '바로', '참고', '쿠라', '상품', '한해',
             '가능하오니', '쿠마', '모토', '때문', '코로나', '마스크', '해외', '인해', '가지', '다음',
             '포함', '확인', '주말', '평일', '연휴', '모두', '있으니', '있는데요', '사용', '사항', '가능',
             '미션', '힐스', '하이난', '중국', '회원', '세계', '케이', '하이커우', '입회', '모두', '선전', '있으며',
             '매우', '또한', '정말', '있어', '있다', '가장', '있고', '지금', '해남도', '정도', '라운딩', 
             '남산', '연태', '연습', '골프클럽', '있어서', '그룹', '같아요', '느낌', '한국',
             '치앙마이', '태국', '가싼쿤탄', '해외', '케이', '가산', '쿤탄', '현재', '지역', '수기', '코스', '한케이골프']

def tokenizer(raw, pos=['Noun', 'Adjective'], stopword=stopwords):
    from konlpy.tag import Okt
    t = Okt()
    return [word for word, tag in t.pos(raw) if len(word) > 1 and tag in pos and word not in stopword]

In [174]:
vin = pd.read_csv('데이터/블로그크롤링/베트남_빈펄.csv', sep='\t', header=None)
vin.columns = ['content']

chi = pd.read_csv('데이터/블로그크롤링/베트남_치링.csv', sep='\t', header=None)
chi.columns = ['content']

yen = pd.read_csv('데이터/블로그크롤링/베트남_옌중.csv', sep='\t', header=None)
yen.columns = ['content']

ns = pd.read_csv('데이터/블로그크롤링/말레이시아_닐라이스프링스.csv', sep='\t', header=None)
ns.columns = ['content']

la = pd.read_csv('데이터/블로그크롤링/필리핀_레이테.csv', sep='\t', header=None)
la.columns = ['content']

hyun = pd.read_csv('데이터/블로그크롤링/대한민국_현대더링스.csv', sep='\t', header=None)
hyun.columns = ['content']

jae = pd.read_csv('데이터/블로그크롤링/대한민국_제피로스.csv', sep='\t', header=None)
jae.columns = ['content']

spring = pd.read_csv('데이터/블로그크롤링/대한민국_스프링데일.csv', sep='\t', header=None)
spring.columns = ['content']

paci = pd.read_csv('데이터/블로그크롤링/일본_퍼시픽블루.csv', sep='\t', header=None)
paci.columns = ['content']

jg = pd.read_csv('데이터/블로그크롤링/일본_그린랜드.csv', sep='\t', header=None)
jg.columns = ['content']

on = pd.read_csv('데이터/블로그크롤링/대한민국_오너스.csv', sep='\t', header=None)
on.columns = ['content']

nam = pd.read_csv('데이터/블로그크롤링/중국_남산.csv', sep='\t', header=None)
nam.columns = ['content']

cm = pd.read_csv('데이터/블로그크롤링/중국_미션힐스.csv', sep='\t', header=None)
cm.columns = ['content']

ks = pd.read_csv('데이터/블로그크롤링/대한민국_샤인빌.csv', sep='\t', header=None)
ks.columns = ['content']

ko = pd.read_csv('데이터/블로그크롤링/대한민국_용인.csv', sep='\t', header=None)
ko.columns = ['content']

ke = pd.read_csv('데이터/블로그크롤링/대한민국_이븐데일.csv', sep='\t', header=None)
ke.columns = ['content']

kt = pd.read_csv('데이터/블로그크롤링/대한민국_타미우스.csv', sep='\t', header=None)
kt.columns = ['content']

In [175]:
def to_list(doc):
    lst = ' '.join(doc['content'])
    rst = []
    rst.append(lst)
    return rst

In [176]:
vin_lst = to_list(vin)
chi_lst = to_list(chi)
yen_lst = to_list(yen)
ns_lst = to_list(ns)
la_lst = to_list(la)
hyun_lst = to_list(hyun)
jae_lst = to_list(jae)
spring_lst = to_list(spring)
paci_lst = to_list(paci)
jg_lst = to_list(jg)
on_lst = to_list(on)
nam_lst = to_list(nam)
cm_lst = to_list(cm)
ks_lst = to_list(ks)
ko_lst = to_list(ko)
ke_lst = to_list(ke)
kt_lst = to_list(kt)

result = [vin_lst, chi_lst, yen_lst, ns_lst, la_lst, hyun_lst, jae_lst, spring_lst, paci_lst, jg_lst, on_lst, nam_lst,
          cm_lst, ks_lst, ko_lst, ke_lst, kt_lst]

In [19]:
stopwords = ['골프', '회원', '골프장', '베트남', '빈펄', '케이', '블루', '퍼시픽', '오이타', '링스', '레이테', 
             '입회', '평생', '가장', '한국', '일본', '무기명', '스프링', '데일', '정도', '포함', '하우스', '필리핀', 
             '지역', '문의', '골퍼', '가능', '바로', '하노이', '현대', '때문', '세부', '준비', '시간', '치링', '혜택', '설계', '아주', 
             '라이스', '말레이시아', '대한민국', '중국', '프링스', '비용', '오늘', '제주도', '남호', '이안', '하이퐁', '나트랑', '랜드', 
             '해외', '개장', '모두', '국내', '조건', '제공', '세계', '지금', '이용', '사용', '하나', '투어', '다른', '자랑',
             '푸쿠옥', '예약', '할인', '상품', '프로모션', '도착', '모든', '분양', '파파', '우리나라', '가지', '운영', '치앙마이', 
             '라운드', '라운딩', '클럽', '스타', '가입', '위치', '정보', '이제', '치린', '옌중', '가싼쿤탄',
             '양수', '직접', '카드', '정말', '진행', '구성', '회비', '양도', '대해', '시작', '독점', '무료', '현지', '한국인',
             '조금', '특전', '안내', '삼성', '기간', '대부분', '수기', '이상', '남산', '주중', '밸리', '번홀', '경우', 
             '사항', '지사', '관리', '입니다', '있습니다', '있는', '안녕하세요', '가능합니다', '있으며', '있고', '한번', '있어', '평균', 
             '야드', '골프클럽', '태국', '기준', '크라운', '멤버십', '좋습니다', '이사', '계약', '회사', '대한', '항공', '아래', 
             '가격', '또한', '현재','위해', '무제한', '체류', '북부', '건설', '코로나', '보유', '창립', '소요', '클릭', '역시',
             '직원', '모집', '이동', '쿠알라룸푸르', '홀로', '있는데요', '아일랜드', '파인스', '면제', '길이', '상담', '걱정',
             '스프', '방법', '이벤트', '있다', '장점', '관광지미가', '미가', '공략', '있어서', '느낌', '대표', '태안', '주변', 
             '충남', '방향', '스코틀랜드', '충청도', '일정', '특징', '바람', '패키지', '전략', '서울', '객실', '있어요', 
             '태안군', '오른쪽', '이름', '저희', '아닙니다', '작년', '함덕', '로움', '제주', '이전', '초특', '생각', '컨디션', '렌터카', 
             '사이', '골프텔', '마치', '있답니다',  '근처', '구름', '제피로스', '선사', '보통', '여유', '나비', '하늘', '이런', '매매', 
             '계속', '가슴', '여덟', '반면', '보시', '더욱', '미를', '각각', '회수', '서귀포', '사람', '우리', '이용권', '그대로', '부담',
             '없는', '진짜', '기업', '예스', '추가', '마감', '예정', '하루', '오이타', '오이타현', '아침', '상주', '사키',
             '업체', '파스', '좌측', '후반', '출발', '이번', '손님', '다음', '시즌', '야합니다', '유실', '강촌', '보기', '핑크레이디', 
             '남해', '다시', '왼쪽', '우측', '주말', '마무리', '날씨', '배즙', '공간', '집중', '전반', '춘천', '야마하', '포스팅', 
             '같은', '컨설턴트', '적용', '형부', '여왕', '같네요', '후기', '보고', '중간', '먼저', '거봉', '그린랜드', '일본', '골프', 
             '코스', '베르데', '오피', '코스', '브랑카', '입니다', '여행',
             '영업', '방문', '있습니다', '시간', '있는', '여러분', '공식', '홈페이지', '이상', '저희', '안녕하세요', 
             '제공', '무료', '이용', '골프장', '요금', '작업', '회수', '메뉴', '별도', '추가', '문의', '경우', 
             '구매', '소개', '큐슈', '필수', '손님', '그럼', '있어요', '사전예약', '공휴일', '군데', '이번',
             '준비', '오늘', '아래', '변경', '제한', '개장', '기간', '바로', '참고', '쿠라', '상품', '한해',
             '가능하오니', '쿠마', '모토', '때문', '코로나', '마스크', '해외', '인해', '가지', '다음',
             '포함', '확인', '주말', '평일', '연휴', '모두', '있으니', '있는데요', '사용', '사항', '가능',
             '미션', '힐스', '하이난', '중국', '회원', '세계', '케이', '하이커우', '입회', '모두', '선전', '있으며',
             '매우', '또한', '정말', '있어', '있다', '가장', '있고', '지금', '해남도', '정도', '라운딩', 
             '남산', '연태', '연습', '골프클럽', '있어서', '그룹', '같아요', '느낌', '한국',
             '치앙마이', '태국', '가싼쿤탄', '해외', '케이', '가산', '쿤탄', '현재', '지역', '수기', '코스', '한케이골프']

def tokenizer(raw, pos=['Noun', 'Adjective'], stopword=stopwords):
    from konlpy.tag import Okt
    t = Okt()
    return [word for word, tag in t.pos(raw) if len(word) > 1 and tag in pos and word not in stopword]

In [183]:
rst = []
tfidf = TfidfVectorizer(max_features=500, stop_words=stopwords, tokenizer=tokenizer)

for i in range(17):
    tdm = tfidf.fit_transform(result[i])
    word_count = pd.DataFrame({
        '단어' : tfidf.get_feature_names(),
        '빈도' : tdm.sum(axis=0).flat
    })
    word_count = word_count.sort_values('빈도', ascending=False)
    lst = list(word_count['단어'])
    rst.append(lst)

In [184]:
df = pd.DataFrame({'nation' : ['베트남', '베트남', '베트남', '말레이시아', '필리핀', '대한민국', '대한민국', '대한민국', '일본', '일본', '대한민국', '중국', '중국', '대한민국', '대한민국', '대한민국', '대한민국'],
                   'name' : ['빈펄', '치링', '옌중', '닐라이스프링스', '레이테', '현대더링스', '제피로스', '스프링데일', '퍼시픽블루', '그린랜드', '오너스', '남산', '미션힐스', '샤인빌', '용인', '이븐데일', '타미우스']})
df['keyword'] = rst
df

   nation     name                                            keyword
0     베트남       빈펄  [리조트, 호텔, 최고, 시설, 다낭, 바다, 아름다운, 거리, 사파리, 럭셔리, ...
1     베트남       치링  [유산, 리조트, 호텔, 박닌, 최고, 그린, 하롱베이, 거리, 시설, 공항, 관광...
2     베트남       옌중  [최고, 리조트, 유산, 호텔, 거리, 하롱베이, 도전, 자연, 시내, 관광, 공항...
3   말레이시아  닐라이스프링스  [리조트, 그린, 라이, 시설, 망고, 공항, 호텔, 거리, 웨이, 수영장, 페어,...
4     필리핀      레이테  [리조트, 자연, 국립공원, 최고, 공항, 그린, 캐디, 장박, 추천, 다양한, 오...
5    대한민국    현대더링스  [자연, 그린, 웨이, 페어, 로얄, 링크스, 바다, 벙커, 갈대, 좋은, 해안, ...
6    대한민국     제피로스  [그린필드, 그린, 호텔, 자연, 잔디, 좋은, 플레이, 상태, 조식, 많은, 공항...
7    대한민국    스프링데일  [그린, 자연, 한라산, 바다, 좋은, 편백나무, 사진, 맛집, 휴식, 난이도, 편...
8      일본    퍼시픽블루  [리조트, 온천, 공항, 바다, 최고, 가든, 거리, 그린, 조식, 석식, 아름다운...
9      일본     그린랜드  [호텔, 놀이, 공원, 리조트, 라멘, 단체, 숙박, 입장권, 관광, 놀이기구, 자...
10   대한민국      오너스  [그린, 티샷, 좋은, 웨이, 페어, 해저드, 잔디, 자연, 프로, 사진, 벙커, ...
11     중국       남산  [호텔, 국제, 공항, 거리, 그린, 식당, 레슨, 시설, 최고, 좋은, 추천, 황...
12     중국     미션힐스  [리조트, 최고, 시설, 최대, 온천, 스파, 호텔, 다양한, 대회, 아시아, 규모...
13   대한민국      샤인빌  [샤인, 그린, 파크, 자연, 호텔, 야자수, 리버, 국적, 풍경, 나무, 페어, ...
14   대한민국       용인  [용인, 그린, 블루원, 거리, 사랑, 웨이, 잔디, 페어, 코리아, 드라이버, 벙...
15   대한민국     이븐데일  [그린, 페어, 웨이, 티샷, 사진, 드라이버, 잔디, 청주, 벙커, 난이도, 거리...
16   대한민국     타미우스  [미우스, 플레이, 자연, 회장, 대회, 그린, 오름, 비즈, 아름다운, 휴식, 잔...

In [185]:
df.to_excel('데이터/회원권추천/key_word.xlsx')

In [6]:
df = pd.read_csv('keyword.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df

   nation      name                                            keyword
0     베트남        빈펄  '리조트', '호텔', '최고', '시설', '다낭', '바다', '아름다운', '...
1     베트남        치링  '유산', '리조트', '호텔', '박닌', '최고', '그린', '하롱베이', '...
2     베트남        옌중  '최고', '리조트', '유산', '호텔', '거리', '하롱베이', '도전', '...
3   말레이시아  닐라이 스프링스  '리조트', '그린', '라이', '시설', '망고', '공항', '호텔', '거리...
4     필리핀       레이테  '리조트', '자연', '국립공원', '최고', '공항', '그린', '캐디', '...
5    대한민국     현대더링스  '자연', '그린', '웨이', '페어', '로얄', '링크스', '바다', '벙커...
6    대한민국      제피로스  '그린필드', '그린', '호텔', '자연', '잔디', '좋은', '플레이', '...
7    대한민국     스프링데일  '그린', '자연', '한라산', '바다', '좋은', '편백나무', '사진', '...
8      일본     퍼시픽블루  '리조트', '온천', '공항', '바다', '최고', '가든', '거리', '그린...
9      일본      그린랜드  '호텔', '놀이', '공원', '리조트', '라멘', '단체', '숙박', '입장...
10   대한민국       오너스  '그린', '티샷', '좋은', '웨이', '페어', '해저드', '잔디', '자연...
11     중국        남산  '호텔', '국제', '공항', '거리', '그린', '식당', '레슨', '시설'...
12     중국      미션힐스  '리조트', '최고', '시설', '최대', '온천', '스파', '호텔', '다양...
13   대한민국       샤인빌  '샤인', '그린', '파크', '자연', '호텔', '야자수', '리버', '국적...
14   대한민국        용인  '용인', '그린', '블루원', '거리', '사랑', '웨이', '잔디', '페어...
15   대한민국      이븐데일  '그린', '페어', '웨이', '티샷', '사진', '드라이버', '잔디', '청...
16   대한민국      타미우스  '미우스', '플레이', '자연', '회장', '대회', '그린', '오름', '비...

In [8]:
cost = pd.read_csv('데이터/회원권추천/1일체류비_all.csv', encoding='euc-kr')
cost = cost.drop(['Unnamed: 14', 'Unnamed: 15'], axis=1)
cost.rename(columns={'골프장' : 'name'}, inplace=True)
cost

        name    일일체류비  그린피  카트비  캐디피  숙소  조식  중식  석식  식사  캐디팁  보험비  라커룸  송영
0       미션힐스  540,000    1    1    1   1   1   0   0   1    0    1    1   0
1         남산  585,600    1    1    1   1   1   0   0   1    1    0    0   0
2      남산IMG  653,600    1    1    1   1   1   0   0   1    1    0    0   0
3       그린랜드  434,520    1    1    0   1   1   0   0   1    0    0    0   0
4      퍼시픽블루  468,600    1    1    0   1   1   0   1   2    0    0    0   1
5   닐라이 스프링스  276,000    1    1    0   1   1   1   1   3    0    0    0   0
6        레이테  208,000    1    1    1   1   1   1   1   3    1    0    0   0
7         치링  399,200    1    1    1   1   1   0   0   1    1    0    0   0
8         옌중  417,000    1    1    1   0   0   0   0   1    1    0    0   0
9         빈펄  540,000    1    1    1   1   1   0   0   0    1    0    0   1
10      이븐데일  470,000    1    1    1   0   0   0   0   0    0    0    0   0
11     현대더링스  460,000    1    1    1   0   0   0   0   0    0    0    0   0
12       오너스  640,000    1    1    1   0   0   0   0   0    0    0    0   0
13       샤인빌  400,000    1    1    1   0   0   0   0   0    0    0    0   0
14      타미우스  930,000    1    1    1   1   0   0   0   0    0    0    0   0
15        용인  410,000    1    1    1   0   0   0   0   0    0    0    0   0
16      그린필드  346,000    1    1    1   0   0   0   0   0    0    0    0   0
17     스프링데일  638,000    1    1    1   1   1   0   0   1    0    0    0   0

In [12]:
distance = pd.read_csv('데이터/회원권추천/골프장거리.csv')
distance = distance[['golfcourse','dist']]
distance = distance.drop_duplicates()
distance = distance.reset_index(drop=True)
distance.loc[(distance['golfcourse']=='그린필드'),'golfcourse'] = '제피로스'
distance.loc[(distance['golfcourse'] == '닐라이스프링스'), 'golfcourse'] = '닐라이 스프링스'
distance.rename(columns={'golfcourse' : 'name'}, inplace=True)
distance

        name         dist
0         남산   525.690318
1       미션힐스  2019.247427
2       그린랜드   564.115303
3      퍼시픽블루   637.078362
4   닐라이 스프링스  4575.061433
5        레이테  2943.634508
6         치링  2651.114670
7         빈펄  2991.006627
8         옌중  2656.037250
9       이븐데일   103.972753
10     현대더링스   105.783532
11       오너스    63.041240
12       샤인빌   462.246447
13      타미우스   464.781299
14        용인    50.129558
15      제피로스   449.893431
16       오너스    63.048464
17     스프링데일   464.865118

In [107]:
df1 = pd.merge(df, cost, on='name')
all_df = pd.merge(df1, distance, on='name')
all_df.일일체류비 = all_df.일일체류비.str.replace(',', '')
all_df.일일체류비 = pd.to_numeric(all_df.일일체류비)
all_df

,nation,name,keyword,일일체류비,그린피,카트비,캐디피,숙소,조식,중식,석식,식사,캐디팁,보험비,라커룸,송영,dist
0,베트남,빈펄,"'리조트', '호텔', '최고', '시설', '다낭', '바다', '아름다운', '...",540000,1,1,1,1,1,0,0,0,1,0,0,1,2991.006627
1,베트남,치링,"'유산', '리조트', '호텔', '박닌', '최고', '그린', '하롱베이', '...",399200,1,1,1,1,1,0,0,1,1,0,0,0,2651.114670
2,베트남,옌중,"'최고', '리조트', '유산', '호텔', '거리', '하롱베이', '도전', '...",417000,1,1,1,0,0,0,0,1,1,0,0,0,2656.037250
3,말레이시아,닐라이 스프링스,"'리조트', '그린', '라이', '시설', '망고', '공항', '호텔', '거리...",276000,1,1,0,1,1,1,1,3,0,0,0,0,4575.061433
4,필리핀,레이테,"'리조트', '자연', '국립공원', '최고', '공항', '그린', '캐디', '...",208000,1,1,1,1,1,1,1,3,1,0,0,0,2943.634508
5,대한민국,현대더링스,"'자연', '그린', '웨이', '페어', '로얄', '링크스', '바다', '벙커...",460000,1,1,1,0,0,0,0,0,0,0,0,0,105.783532
6,대한민국,스프링데일,"'그린', '자연', '한라산', '바다', '좋은', '편백나무', '사진', '...",638000,1,1,1,1,1,0,0,1,0,0,0,0,464.865118
7,일본,퍼시픽블루,"'리조트', '온천', '공항', '바다', '최고', '가든', '거리', '그린...",468600,1,1,0,1,1,0,1,2,0,0,0,1,637.078362
8,일본,그린랜드,"'호텔', '놀이', '공원', '리조트', '라멘', '단체', '숙박', '입장...",434520,1,1,0,1,1,0,0,1,0,0,0,0,564.115303
9,대한민국,오너스,"'그린', '티샷', '좋은', '웨이', '페어', '해저드', '잔디', '자연...",640000,1,1,1,0,0,0,0,0,0,0,0,0,63.041240
10,대한민국,오너스,"'그린', '티샷', '좋은', '웨이', '페어', '해저드', '잔디', '자연...",640000,1,1,1,0,0,0,0,0,0,0,0,0,63.048464
11,중국,남산,"'호텔', '국제', '공항', '거리', '그린', '식당', '레슨', '시설'...",585600,1,1,1,1,1,0,0,1,1,0,0,0,525.690318
12,중국,미션힐스,"'리조트', '최고', '시설', '최대', '온천', '스파', '호텔', '다양...",540000,1,1,1,1,1,0,0,1,0,1,1,0,2019.247427
13,대한민국,샤인빌,"'샤인', '그린', '파크', '자연', '호텔', '야자수', '리버', '국적...",400000,1,1,1,0,0,0,0,0,0,0,0,0,462.246447
14,대한민국,용인,"'용인', '그린', '블루원', '거리', '사랑', '웨이', '잔디', '페어...",410000,1,1,1,0,0,0,0,0,0,0,0,0,50.129558
15,대한민국,이븐데일,"'그린', '페어', '웨이', '티샷', '사진', '드라이버', '잔디', '청...",470000,1,1,1,0,0,0,0,0,0,0,0,0,103.972753
16,대한민국,타미우스,"'미우스', '플레이', '자연', '회장', '대회', '그린', '오름', '비...",930000,1,1,1,1,0,0,0,0,0,0,0,0,464.781299

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import nltk

tfidf = TfidfVectorizer(stop_words=stopwords)
tfidf_matrix = tfidf.fit_transform(all_df['keyword'])

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import nltk
from sklearn.metrics.pairwise import linear_kernel

tfidf = TfidfVectorizer(stop_words=stopwords)
tfidf_matrix = tfidf.fit_transform(all_df['keyword'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices = pd.Series(all_df.index, index=all_df['name']).drop_duplicates()

In [24]:
indices = pd.Series(all_df.index, index=all_df['name']).drop_duplicates()
print(indices.head())

name
빈펄          0
치링          1
옌중          2
닐라이 스프링스    3
레이테         4
dtype: int64

In [25]:
idx = indices['현대더링스']
print(idx)

5

In [99]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [130]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import nltk
from sklearn.metrics.pairwise import linear_kernel

tfidf = TfidfVectorizer(stop_words=stopwords)
tfidf_matrix = tfidf.fit_transform(all_df['keyword'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

def get_recommendation(name, cosine_sim=cosine_sim):
    choice = []
    idx = indices[name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    content_idx = [i[0] for i in sim_scores]
    result = all_df.iloc[content_idx]
    result = result.reset_index(drop=True)
    print('=== 골프장 추천 순위 ===')
    return result

def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

def dist(df, name):
    target = all_df.loc[all_df['name'] == name]
    target = target[['일일체류비', 'dist']]
    target = np.array(target)
    
    golf_list = df
    golf_list = golf_list.reset_index(drop=True)
    golf_list_df = pd.DataFrame(golf_list)
    
    dist = []
    for i in range(0, len(golf_list_df)):
        golf = np.array(golf_list_df.loc[golf_list_df.index==i][['일일체류비', 'dist']])
        golf_dist = euclidean_distance(target, golf)
        dist.append(golf_dist)
    
    recommend_index = dist.index(min(dist))
    print("=== 기준 골프장 : ",all_df[all_df['name']==name]['name'],"===")
    print('=== 추천된 골프장 정보 ===')
    return pd.DataFrame(golf_list_df.loc[recommend_index, :])

In [108]:
golf_list = get_recommendation('닐라이 스프링스')
golf_list = golf_list.reset_index(drop=True)
golf_list_df = pd.DataFrame(golf_list)
golf_list_df

target = all_df.loc[all_df['name'] == '닐라이 스프링스']
target = target[['일일체류비', 'dist']]
target = np.array(target)
    
dist = []
name = golf_list_df['name'].tolist()
golf = all_df.loc[all_df['name'].isin(name)][['일일체류비', 'dist']]
golf = np.array(golf)
golf_dist = euclidean_distance(target, golf)
dist.append(golf_dist)
    #golf = all_df.loc[all_df['name'] == golf_list_df['name']]
    #golf = golf[['일일체류비', 'dist']]
    #golf = np.array(golf)
    #golf = np.array(all_df.loc[all_df['name'] ==golf_list_df['name']]['일일체류비', 'dist'])
    #golf_dist = euclidean_distance(target, golf)
    #dist.append(golf_idst)
dist

=== 골프장 추천 순위 ===

[448355.49883228686]

In [155]:
content = pd.read_csv('데이터/회원권추천/회원권.csv')
content.replace(np.nan, '', inplace=True)
content

,회원권번호,국가,골프장이름,상품명,기간,입회금,이용홀수,회원적용,비고
0,CB-01,중국,백작36,가족,마감,28000000,36.0,부부+18세이하 자녀,
1,CB-02,중국,백작36,법인,,50000000,36.0,,
2,CC-01,중국,청도18,법인,마감,45000000,18.0,기명1+무기명1,
3,CC-02,중국,청도18,개인,,19800000,18.0,,
4,CC-03,중국,청도18,가족,,24800000,18.0,,
...,...,...,...,...,...,...,...,...,...
65,VV-02,베트남,빈펄,GOLD,20년,19200000,90.0,기명1+무기명3,"남호이안, 푸꾸옥, 하이퐁, 나트랑 4곳 모두 이용"
66,VV-03,베트남,빈펄,SILVER,20년,14400000,90.0,기명1+무기명3,"남호이안, 푸꾸옥, 하이퐁 중 1곳만 이용"
67,VV-04,베트남,빈펄,VIP 법인,,36000000,,,
68,VY-01,베트남,옌중,VIP,평생,14000000,36.0,무기명4,
69,VY-02,베트남,옌중,GOLD,평생,9000000,36.0,기명1+무기명3,

In [238]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import nltk
from sklearn.metrics.pairwise import linear_kernel
from IPython.core.display import HTML

tfidf = TfidfVectorizer(stop_words=stopwords)
tfidf_matrix = tfidf.fit_transform(all_df['keyword'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

def get_recommendation(name, cosine_sim=cosine_sim):
    choice = []
    idx = indices[name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    content_idx = [i[0] for i in sim_scores]
    golf_list = all_df.loc[content_idx]
    
    result = all_df.iloc[content_idx]
    result.drop(['keyword'], axis=1, inplace=True)
    result = result.reset_index(drop=True)
    result.rename(columns={'nation' : '국가', 'name':'골프장이름'}, inplace=True)
    print("=== 골프장 추천 순위 ===")
    print()
    display(HTML(result.to_html()))
    print()
    
    target = all_df[all_df['name']==name]
    target = target[['일일체류비','dist']]
    target = np.array(target) 
    
    golf_list = golf_list.reset_index(drop=True)
    golf_list_df = pd.DataFrame(golf_list)
    
    dist = []
    for i in range(0,len(golf_list_df)):
        golf = np.array(golf_list_df.loc[i,['일일체류비','dist']])
        golf_dist = euclidean_distance(target,golf)
        dist.append(golf_dist)
    
    # 거리가 최소인 골프장 값 리턴
    recommend_index = dist.index(min(dist))
    a = list(all_df.loc[all_df['name']==name]['name'])
    
    print("=== 기준 골프장 : ", a[0], "===")
    print() 
    print("=== 추천된 골프장의 회원권 정보 ===")
    min_df = pd.DataFrame(golf_list_df.iloc[recommend_index,:])
    name = min_df.iloc[1, :].tolist()
    rst = pd.DataFrame(content.loc[content['골프장이름'].isin(name)])
    rst = rst.reset_index(drop=True)
    return rst

def input_name():
    name = input('기존 골프장을 입력하세요 : ')
    print()
    return get_recommendation(name, cosine_sim=cosine_sim)

In [240]:
input_name()

기존 골프장을 입력하세요 : 레이테

=== 골프장 추천 순위 ===

=== 기준 골프장 :  레이테 ===

=== 추천된 골프장의 회원권 정보 ===

   회원권번호     국가     골프장이름  상품명  기간       입회금  이용홀수 회원적용    비고
0  MN-01  말레이시아  닐라이 스프링스  VIP  평생  10000000  27.0  기명2  부부회원